In [1]:
import pandas as pd
from binance.client import Client

In [2]:
# insert API key / API Secret

api_key = ""
api_secret = ""

In [3]:
# connect to binance client
client = Client(api_key, api_secret)

In [73]:
# get candle from 1 Nov 2017 to 1 Nov 2021
BTCcandle = client.get_historical_klines("MANAUSDT", Client.KLINE_INTERVAL_1DAY, "1 Nov, 2017", "1 Nov, 2021")

In [74]:
# import into pandas dataframe
btc_df = pd.DataFrame(BTCcandle)
btc_df.columns = ['Open Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 'No. Trade', 'TB Base Volume', 'TB Quote Volume', 'Ignore']

In [38]:
btc_df

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,No. Trade,TB Base Volume,TB Quote Volume,Ignore
0,1509494400000,304.89000000,305.90000000,286.34000000,287.01000000,9843.16660000,1509580799999,2948801.70630060,12038,3264.61810000,981818.75799190,136742.86382963
1,1509580800000,287.30000000,293.00000000,274.73000000,283.12000000,13423.85720000,1509667199999,3810829.65967330,13600,4726.14435000,1347012.89710220,141653.48167664
2,1509667200000,283.12000000,307.00000000,282.00000000,304.08000000,8194.03465000,1509753599999,2400297.63478160,8973,3439.34248000,1009675.17280160,147417.10443676
3,1509753600000,304.09000000,304.99000000,292.11000000,298.04000000,7828.41744000,1509839999999,2333944.76080540,9036,3652.33313000,1089665.53387680,149491.74328532
4,1509840000000,298.10000000,302.14000000,293.13000000,295.53000000,6638.42119000,1509926399999,1974433.01351300,7513,3403.76089000,1013349.96785480,163794.63009765
...,...,...,...,...,...,...,...,...,...,...,...,...
1457,1635379200000,3921.99000000,4295.00000000,3890.17000000,4286.02000000,626378.50550000,1635465599999,2587268364.26143900,1711575,331721.67970000,1370287598.12503800,0
1458,1635465600000,4286.01000000,4460.47000000,4265.97000000,4418.89000000,559231.07691000,1635551999999,2440933126.04865530,1799386,299827.57771000,1309028738.75469020,0
1459,1635552000000,4418.89000000,4434.06000000,4232.20000000,4322.68000000,340223.06900000,1635638399999,1469664811.93683500,1035476,164985.54250000,712725589.41698300,0
1460,1635638400000,4322.68000000,4399.14000000,4164.35000000,4287.21000000,412856.28930000,1635724799999,1764886607.68762400,1303438,207029.19300000,885572414.31975300,0
1461,1635724800000,4287.48000000,4386.58000000,4146.30000000,4319.43000000,417620.70730000,1635811199999,1794319887.30236000,1134036,208433.93650000,895858147.04065500,0

In [75]:
btc_df = btc_df[['Close Time', 'Close', 'Volume', 'Quote Asset Volume']]

btc_df['Close Time'] = pd.to_datetime(btc_df['Close Time']/1000, unit = 's')

In [76]:
btc_df['Close Time'] = btc_df['Close Time'].dt.date

In [77]:
btc_df['Close'] = btc_df['Close'].astype(float)
btc_df['Close'].round(2)

btc_df

     Close Time    Close               Volume   Quote Asset Volume
0    2020-08-06  0.05822    14196664.70000000      863503.86977700
1    2020-08-07  0.07484    51256029.90000000     3502922.89500800
2    2020-08-08  0.10281    85765140.70000000     7468578.76384300
3    2020-08-09  0.09972   137647520.20000000    15487532.97707600
4    2020-08-10  0.10139    71520828.90000000     7238474.46926600
..          ...      ...                  ...                  ...
448  2021-10-28  0.92460   115975865.00000000   103737230.37190000
449  2021-10-29  1.39530   775810210.45000000   974943911.78771200
450  2021-10-30  3.58800  1968305884.12000000  4910128108.39506100
451  2021-10-31  2.88500  1231089249.00000000  4030209759.94720000
452  2021-11-01  3.03390   630900562.00000000  1912024627.70570000

[453 rows x 4 columns]

In [78]:
btc_df.to_csv("SAND_NOV2017_NOV2021.csv")